@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body{
    font-family: 'Roboto', sans-serif;
} */

.overlay {
    position: fixed;
    top:129px;
    left: 0;
    right:0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;

    
}